/*
    This file contains console specific style for portal structural elements
    and some key portlets.
*/

/*
    Header, nav, content, and footer.
*/
.wlsc-header {
    background-color: #ffffff;
    overflow: hidden;
    height: 2.3em;
}
#console-header-logo {
  float: left;
  width: 400px;
}
#header-trans {
  background-color: #0D4988;
  float: right;
  width: 26%;
}
#header-trans img {
  width: 100%;
  height: 2.3em;
}
#global-links {
  float: right;
  width: 16%;
  height: 2.3em;
  text-align: right;
  padding: 0;
  background-color: #0D4988;
  white-space: nowrap;
}

#pageStatus {
  padding: 5px 14px 0 13px;
  display: -moz-inline-stack;
  display: inline-block;
  /* for IE7 */
  zoom: 1;
  *display: inline;
}
#pageStatus #pageIdle {
  display: -moz-inline-stack;
  display: inline-block;
}
#pageStatus #pageBusy {
  display: none;
}
#pageStatus.busy #pageIdle {
  display: none;
}
#pageStatus.busy #pageBusy {
  display: -moz-inline-stack;
  display: inline-block;
}

body {
    min-width: 694px;
}

#console-header-logo a, 
#console-header-logo a:visited, 
#console-header-logo a:active,
#console-header-logo a:hover {
    color: #ffffff; /* same as background */
    text-decoration: none;
    background-color: transparent;
}

#console-title {
    padding: 5px 0px 0px 10px; /* 5 + 1 (from skip link) = 6 */
}

#console-footer {
    padding: 0px 0px 6px 15px;
    text-align: left;
    color: #B2CBDB;
    background-color: #185E87;
    font-size: 10px;
    white-space: nowrap;
}

#console-footer .info p {
    margin: 1px 0px;
}

#console-nav-col {
    float: left;
	width: 260px;
	margin: 0px;
}

#console-content-col {
    float: right;
    width: 100%; 
    margin-left: -260px;
}

#console-content-col-inner {
    margin-left: 260px;
}

/*
    Console content area specific books and pages
*/
#console-content-area {
}

#console-content-area .wlsc-book {
}

#console-content-area .wlsc-page {
    background-color: #ffffff;
    padding: 0px;
}

#console-content-area .page-table {
    background-color: #ffffff;
    padding: 1px;
}

#console-content-area .page-assistant {
    background-color: #ffffff;
    padding: 1px;
}

#console-content-area .page-content {
    background-color: #ffffff;
    padding: 1px;
}

#console-content-area .wlsc-window {
    border: none;
    margin: 8px;
}

#console-content-area .wlsc-frame .wlsc-window-content {
    background-color: #FFFFFF;
    border: none;
}

/* 
 * Ideally all the content would fit in the window without horizontal scrolling
 * but allow it when needed.
 */
#console-content-area .wlsc-window-content {
    overflow: auto;
    /* the following is to avoid the unnecessary vertical scroll bar in IE */
    overflow-y: hidden;
    overflow-x: auto;
    /* IE puts the scroll bar inside so need to add extra padding */
    padding-bottom: 12px;
}

/*
    Toolbar Area Definitions
*/

#portlet_toolbar {
    /* top, right margins are zero because portlet content adds it back */
    margin: 0px 0px 2px 6px;
}

/*
    Breadcrumb (AKA history) Definitions
*/

#portlet_history {
    margin: 2px 6px;
    padding-left: 16px;
    padding-right: 16px;
    border-width: 0px;
}

/*
    Messages Area Definitions
*/

#portlet_messages {
    margin: 2px 6px;
    border-width: 0px;
}


/*
    Styles used when the user preference to show portal definition labels
    is enabled. The preference is intended for extension developers.
*/
.devLabelInfo {
    font-size: 10px;
    color: #888;
}

.devLabelInfo p {
    margin: 1px;
    padding: 1px;
    border: 2px solid #555;
    border-bottom-width: 0px;
}

/* CR370078 - better support for screen readers */
.screenReadersOnly{
    font-size: 0px;
    overflow: hidden;
    width: 0px;
    height: 0px;
    position: absolute;
    background: none;
    line-height:0;
}
