/*
    This file contains general styling for the "console" skin.
*/

/*
    General colors and setup for fonts
*/

body {
    margin: 0;
    padding: 0;
    /* Oracle Brand: Use Tahoma,Verdana,Helvetica,sans-serif for just about all text */
    font-family: Tahoma,Verdana,Helvetica,sans-serif;
    font-weight: normal;
    font-size: 11px;
}

html {
    background-color: #FFFFFF;
}

/*
    Typography
*/

a, a:link {
    font-size: 11px;
    text-decoration: none;
    color: #003399;
}
a:visited {
    color: #72007C;
}
a:hover {
	text-decoration: underline;
}
a:active {
    color: #72007C;
    text-decoration: underline;
}

h1 {
    font-size: 11px;
	font-weight: bold;
	margin-top: 0em;
	margin-bottom: 0em;/*both set to zero and padding in header div is used intead to deal with compound ie pc problems that are beyound summary in a simple comment.*/
}
h2 {
	font-size: 11px;
	font-weight: bold;
    margin: 1.2em 0em 1.2em 0em;
}
h3 {
	font-size: 11px;
    margin: 1.2em 0em 1.2em 0em;
}
img {
	border: 0;
}
ol, ul, li {
	font-size: 11px;
	line-height: 1.3em;
	margin-top: 0.2em;
	margin-bottom: 0.1em; 
}
p {
	margin: 1.2em 0em 1.2em 0em;
}
li > p {
	margin-top: 0.2em;
}
pre {
	font-family: monospace;
	font-size: 1.2em;
}
code {
    font-family: monospace;
    font-size: 1.2em;
}
strong, b {
	font-weight: bold;
}

/*
    Scrollbar colors for browsers that support it
*/
body {
    scrollbar-face-color: #CFDBEF;
    scrollbar-highlight-color: #F1F9FE;
    scrollbar-3dlight-color: #ABBBC7;
    scrollbar-darkshadow-color: #7F9CB2;
    scrollbar-shadow-color: #CAE4F8;
    scrollbar-arrow-color: #7F9CB2;
    scrollbar-track-color: #F2F2F2;
}

/*
    Header, footer and general layout
*/

.console-header {
    border-bottom: 1px solid #FFFFFF;
    color: #FFFFFF;
}

.console-footer {
    clear: both;
}

.console-layout td {
    vertical-align: top;
}

/*
    image rollover styles
*/

.console-image-rollover {
    display: none;
}

.console-image-nonrollover {
    display: inline;
}
